<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- DAL layer -->
	<bean id="Persistance" class="itti.com.pl.arena.cm.persistence.jdbc.JdbcPersistence"
		init-method="init">
		<property name="jdbcProperties" ref="JdbcProperties" />
	</bean>

	<bean id="JdbcProperties" class="itti.com.pl.arena.cm.persistence.jdbc.JdbcProperties">
		<property name="propertiesFile" value="jdbc.properties" />
	</bean>

	<!-- Servlet layer -->
	<bean id="GpsListener" class="itti.com.pl.arena.cm.web.servlet.GpsListener"
		init-method="init" destroy-method="shutdown">
		<property name="listeners">
			<array>
				<ref bean="PlatformTracker" />
			</array>
		</property>
	</bean>

	<!-- dummy GPS object used for developing/testing purposes TODO: must be 
		removed/commented out before official release -->
	<bean id="GpsListenerMock" class="itti.com.pl.arena.cm.utils.GpsListenerMock"
		init-method="init" destroy-method="shutdown">
		<property name="listeners">
			<array>
				<ref bean="PlatformTracker" />
			</array>
		</property>
		<property name="start" ref="dummyStartLocation" />
		<property name="destination" ref="dummyEndLocation" />
		<property name="steps" value="10000" />
	</bean>
	<bean id="dummyStartLocation" class="itti.com.pl.arena.cm.dto.Location">
		<constructor-arg name="longitude" value="53.17654" />
		<constructor-arg name="latitude" value="17.34342" />
	</bean>
	<bean id="dummyEndLocation" class="itti.com.pl.arena.cm.dto.Location">
		<constructor-arg name="longitude" value="53.37654" />
		<constructor-arg name="latitude" value="17.14342" />
	</bean>

	<task:scheduled-tasks scheduler="GpsMockScheduler">
		<task:scheduled ref="GpsListenerMock" method="updateLocation"
			fixed-delay="5000" />
	</task:scheduled-tasks>

	<task:scheduler id="GpsMockScheduler" pool-size="10" />

	<!-- Ontology bean -->
	<bean id="Ontology"
		class="itti.com.pl.arena.cm.ontology.ContextModuleOntologyManager"
		init-method="init">
		<property name="ontologyLocation" value="Arena_update_v09c.owl" />
		<property name="ontologyNamespace"
			value="http://www.owl-ontologies.com/Ontology1350654591.owl#" />
	</bean>

	<!-- Geoportal bean -->
	<bean id="Geoportal" class="itti.com.pl.arena.cm.geoportal.gov.pl.GeoportalService" />

	<!-- Service layer -->
	<bean id="PlatformTracker" class="itti.com.pl.arena.cm.service.PlatformTracker">
		<property name="platformId" value="arenaTruck1" />
		<property name="persistence" ref="Persistance" />
		<property name="ontology" ref="Ontology" />
		<property name="geoportal" ref="Geoportal" />
		<property name="radius" value="1.0" />
	</bean>

	<!-- Communication layer -->
	<bean id="ContextModuleJmsService"
		class="itti.com.pl.arena.cm.service.jms.ContextModuleJmsService"
		init-method="init" destroy-method="shutdown">

		<property name="ontology" ref="Ontology" />
		<property name="geoportal" ref="Geoportal" />
		<property name="brokerUrl" value="127.0.0.1" />
		<!-- current IP address by default -->
		<!-- <property name="localIpAddress" value="localhost"/> -->
		<!-- random port, can be changed using any other value -->
		<property name="connectionPort" value="45444" />
	</bean>

	<task:scheduled-tasks scheduler="CmScheduler">
		<task:scheduled ref="PlatformTracker" method="checkIfMoving"
			fixed-delay="60000" />
	</task:scheduled-tasks>

	<task:scheduler id="CmScheduler" pool-size="5" />
</beans>