<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!--  value of the radius property measured in degrees. 
	One degree is about 110km. Value of 0.01 is about one kilometer. -->
	<bean id="radius" class="java.lang.Double">
		<constructor-arg value="1.0" />
	</bean>

	<!-- DAL layer -->
	<bean id="Persistance" class="itti.com.pl.arena.cm.persistence.jdbc.JdbcPersistence"
		init-method="init" destroy-method="shutdown">
		<property name="jdbcProperties" ref="JdbcProperties" />
	</bean>

	<!-- Database properties -->
	<bean id="JdbcProperties" class="itti.com.pl.arena.cm.persistence.jdbc.JdbcProperties">
		<property name="propertiesFile" value="jdbc.properties" />
	</bean>

	<!-- Servlet layer: listens for Location data from GPS device (smartphone) -->
	<bean id="GpsListener" class="itti.com.pl.arena.cm.web.servlet.GpsListener"
		init-method="init" destroy-method="shutdown">
		<!-- location listeners, will be notified, when new position info will 
			be received -->
		<property name="listeners">
			<array>
				<ref bean="PlatformTracker" />
			</array>
		</property>
	</bean>

	<!-- dummy GPS object used for developing/testing purposes TODO: must be 
		removed/commented out before official release -->
	<bean id="GpsListenerMock" class="itti.com.pl.arena.cm.utils.GpsListenerMock"
		init-method="init" destroy-method="shutdown">
		<property name="listeners">
			<array>
				<ref bean="PlatformTracker" />
			</array>
		</property>
		<property name="start" ref="dummyStartLocation" />
		<property name="destination" ref="dummyEndLocation" />
		<!-- how many 'hops' is between start and destination -->
		<property name="steps" value="10000" />
	</bean>
	<!-- initial location of the dummy platform -->
	<bean id="dummyStartLocation" class="itti.com.pl.arena.cm.dto.Location">
		<constructor-arg name="longitude" value="53.17654" />
		<constructor-arg name="latitude" value="17.34342" />
	</bean>
	<!-- destination of the dummy platform -->
	<bean id="dummyEndLocation" class="itti.com.pl.arena.cm.dto.Location">
		<constructor-arg name="longitude" value="53.37654" />
		<constructor-arg name="latitude" value="17.14342" />
	</bean>

	<!-- Ontology bean -->
	<bean id="Ontology"
		class="itti.com.pl.arena.cm.ontology.ContextModuleOntologyManager"
		init-method="init" destroy-method="shutdown">
		<!-- properties: ontology location and namespace -->
		<property name="ontologyLocation" value="Arena_update_v10a.owl" />
		<property name="ontologyNamespace"
			value="http://www.owl-ontologies.com/Ontology1350654591.owl#" />
	</bean>

	<!-- Geoportal bean -->
	<bean id="Geoportal" class="itti.com.pl.arena.cm.geoportal.gov.pl.GeoportalService"
		init-method="init" destroy-method="shutdown" />

	<!-- Service layer -->
	<bean id="PlatformTracker" class="itti.com.pl.arena.cm.service.PlatformTracker"
		init-method="init" destroy-method="shutdown">
		<property name="persistence" ref="Persistance" />
		<property name="ontology" ref="Ontology" />
		<property name="geoportal" ref="Geoportal" />
		<!-- name of the platform -->
		<property name="platformId" value="arenaTruck1" />
		<!-- radius (in kilometers) - defines search area -->
		<property name="radius" ref="radius" />
		<!-- if platform is not moving for that time (in minutes) CM will assume 
			that parking lot was reached -->
		<property name="maxBreakTime" value="30" />
	</bean>

	<!-- Communication layer -->
	<bean id="ContextModuleJmsService"
		class="itti.com.pl.arena.cm.service.jms.ContextModuleJmsService"
		init-method="init" destroy-method="shutdown">

		<property name="ontology" ref="Ontology" />
		<property name="geoportal" ref="Geoportal" />
		<property name="brokerUrl" value="127.0.0.1" />
		<!-- current IP address by default -->
		<!-- <property name="localIpAddress" value="localhost"/> -->
		<!-- random port, can be changed using any other value -->
		<property name="connectionPort" value="45444" />
		<!-- radius used for that service -->
		<property name="radius" ref="radius" />
	</bean>

	<!-- periodical tasks -->
	<task:scheduled-tasks scheduler="CmScheduler">
		<!-- once a minute check, if platform is still moving -->
		<task:scheduled ref="PlatformTracker" method="checkIfMoving"
			fixed-delay="60000" />
		<!-- once per five seconds update GPS location of the mock GPS device -->
		<task:scheduled ref="GpsListenerMock" method="updateLocation"
			fixed-delay="5000" />
	</task:scheduled-tasks>

	<task:scheduler id="CmScheduler" pool-size="5" />


</beans>